@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */

body {
    font-family: 'Fira Sans', serif;
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

.color {
    color: rgba(14, 14, 14, 0.8);
    
}
.font-size{
    font-size: 16px;

}
.psize{
    text-align: left;
    font-size: 16px;

}
.text-center{
    text-align: center;
}

/* banner */
.banner {
    height: 560px;
    background-color: #C6E4D6;
    border-radius: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 80px 100px;
    margin: 80px 0;
}

.banner div p {
    font-size: 24px;
    font-weight: 500;
}

.banner-title {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 64px;
}
.btn {
    
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    background-color: rgb(0, 106, 80);
    color: white;
    font-size: 18px;
    font-weight: 600px;
    border-style: none;
}

/* s 2 -------------------- */

.skill-containar{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.skill-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.skill-description{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* ----------- */

.vision-containar{
    margin-top: 80px;
}
.vision-box{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.box1{
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);}
.box2{
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);}
.box3{
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);}

.many-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 0;
}
.b1{
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgb(84, 144, 245);    color: white;
    font-size: 18px;
    font-weight: 600px;
    border-style: none;
    position: relative;    
}
.b2{
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    background: rgb(9, 161, 92);
    color: white;
    font-size: 18px;
    font-weight: 600px;
    border-style: none;
    position: relative;    
}
.b3{
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    background: rgb(9, 161, 92);
    color: white;
    font-size: 18px;
    font-weight: 600px;
    border-style: none;
    position: relative;    
}
.vision-description{
    position: static;
    width: 346.67px;
    height: 72px;
    margin: 12px 0px;
}
/* -------------- */
.news-t{
    margin-top: 32px;
    background: rgb(255, 255, 255);
   
}
.bg{
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    padding-left: 30px;
}

/* -------------------- */
.setelite-image{
    border-radius: 24px;
    width: 408px;
    height: 306px;
}
.recent-nbox{
    display: flex;
}
.recenta-ll{
    margin-left: 32px;
}
.recent-nbox{
    padding: 48px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(240, 243, 254);
    margin-top: 32px;
}
/* ----------- */
.d-title{
    max-width: 1104px;;
}

.vc-button{
    position: static;
    width: 1071px;
    height: 128px;
    display: flex;
    margin: 0 auto;

}
.inter{
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    padding: 40px;
    margin: 0 auto;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);

    width: 240px;
    height: 128px;
    
}

